/**
 * Calculate the greatest common divisor of `$a` and `$b`
 *
 * @param {Number} $a
 * @param {Number} $b
 *
 * @returns {Number}
 */

@function gcd($a, $b) {
  @if $b == 0 {
    @return $a;
  }
  @else {
    @return gcd($b, $a % $b);
  }
}
