/**
 * Filter a map by values or keys
 *
 * @param {Map}    $map - The map you want to filter
 * @param {List}   $filter - A list of keys or values to filter from the $map
 * @param {String} $filter-by ("value") - Whether to filter `$map` by `key` or `value`
 *
 * @returns {Map} Filtered `$map`
 */

@function map-filter($map, $filter, $filter-by: "value") {

  $return: ();
  $filter-by: unquote($filter-by);

  @each $key, $value in $map {
    $key-or-value: if($filter-by == key, $key, $value);

    @if (index($filter, $key-or-value)) {
      $return: map-merge($return, ($key: $value));
    }
  }

  @return $return;
}

/**
 * Alias to filter map by key
 *
 * @param $map
 * @param $filter
 */

@function map-filter-key($map, $filter) {
  @return map-filter($map, $filter, $filter-by: key);
}
