@function get-color($key) {
  @return map-get($colors, $key);
}

@function get-breakpoint($key) {
  @return map-get($breakpoints, $key);
}

@function get-z($key) {
  @return map-get($z-index, $key);
}

@function get-font($key) {
  @return map-get($fonts, $key);
}
