/**
 * Display-type utilities
 */

.u-block {
  display: block !important;
}

@include breakpoint-prefix('.u-hidden') {
  display: none !important;
}

.u-hiddenVisually {
  @include extend('u-hiddenVisually');
}

.u-inline {
  display: inline !important;
}

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.u-inlineBlock {
  display: inline-block !important;
  max-width: 100%; /* 1 */
}

.u-table {
  display: table !important;
}

.u-tableCell {
  display: table-cell !important;
}

.u-tableRow {
  display: table-row !important;
}
