/**
 * Typography
 * http://beta.compass-style.org/reference/compass/typography/vertical_rhythm/
 */

$base-font-size: 14px;
$base-line-height: 22px;
$rhythm-unit: 'em';
$rem-with-px-fallback: false;

/**
 * Browser support
 * http://compass-style.org/reference/compass/support/
 *
 * Opting to specifiy specific versions rather than using usage statistics.
 * https://github.com/Compass/compass/pull/1524
 * https://github.com/north/north/blob/master/examples/sass/style.scss
 */

$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;
$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "31",
  "safari": "5",
  "firefox": "25",
  "ios-safari": "6.0-6.1",
  "android-chrome": "36"
);

/**
 * Sprites
 */

// $png8-spacing: 10px;
// $png8: sprite-map("sprites/png8/*.png");
// $png32: sprite-map("sprites/png32/*.png");
// $svg: sprite-map("svg/*.png");
