/**
 * Sizing utilities: Intrinsic widths
 * https://github.com/suitcss/utils-size
 */

@include breakpoint-prefix('.u-sizeFit') {
  @include extend('u-sizeFit');
}

@include breakpoint-prefix('.u-sizeFitAlt') {
  @include extend('u-sizeFitAlt');
}

@include breakpoint-prefix('.u-sizeFill') {
  @include extend('u-sizeFill');
}

@include breakpoint-prefix('.u-sizeFillAlt') {
  @include extend('u-sizeFillAlt');
}

@include breakpoint-prefix('.u-sizeFull') {
  @include extend('u-sizeFull');
}
