/**
 * @type Map
 */

$breakpoints: (
  "sm": 600px,
  "md": 900px,
  "lg": 1200px
) !default;

/**
 * @type Bool
 */

$current-breakpoint: false;

/**
 * @requires {Mixin}    breakpoint
 * @requires {Variable} $current-breakpoint
 *
 * @link http://www.sitepoint.com/cross-media-query-extend-sass/
 */

@mixin at-breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    $current-breakpoint: $breakpoint !global;
    @include breakpoint(map-get($breakpoints, $breakpoint)) {
      @content;
    }
    $current-breakpoint: false !global;
  }

  @else {
    @warn "Invalid breakpoint `#{$breakpoint}`.";
  }
}
