/**
 * Shorthand for generated content
 *
 * @param $selector ("&:after, &:before")
 * @param $content ("")
 */

@mixin content(
  $selector: "&:after, &:before",
  $content: ""
) {

  #{$selector} {
    @if $content {
      content: $content;
    }
    @content;
  }
}

/**
 * @param $content ("")
 */

@mixin before($content: "") {
  @include content("&:before", $content) {
    @content;
  }
}

/**
 * @param $content ("")
 */

@mixin after($content: "") {
  @include content("&:after", $content) {
    @content;
  }
}
