/**
 * WebKit/Firefox font-smoothing
 *
 * @param {Bool} $on (true)
 *
 * @link http://www.usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
 * @link http://maxvoltar.com/archive/-webkit-font-smoothing
 */

@mixin font-smoothing($on: true) {
  @if $on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
