/**
 * Get Sprite
 *
 * A more robust option for getting sprite info.
 * https://gist.github.com/dfadler/3105369
 * http://compass-style.org/reference/compass/helpers/sprites/
 */

@mixin get-sprite(
  $map,
  $sprite,
  $offset-x: 0,
  $offset-y: 0,
  $repeat: no-repeat,
  $height: true,
  $width: true
) {
  $sprite-image: sprite-file($map, $sprite);
  $sprite-map: sprite-url($map);
  $sprite-position: sprite-position($map, $sprite, $offset-x, $offset-y);

  background: $sprite-map $sprite-position $repeat;

  @if $height {
    $sprite-height: image-height($sprite-image);
    height: $sprite-height;
  }
  @if $width {
    $sprite-width: image-width($sprite-image);
    width: $sprite-width;
  }
}
