@function hover($selector: false) {
  $base: '&:hover, &:focus, &:active';
  $selector: if($selector, $base + ', ' + $selector, $base);

  @return $selector;
}

@mixin hover($selector: false) {
  #{hover($selector)} {
    @content;
  }
}
