/**
 * Cross-Media Query @extend Directives
 * @link http://www.sitepoint.com/cross-media-query-extend-sass/
 */

/**
 * @type List
 */

$placeholders: ();

/**
 * @requires {Mixin}    at-breakpoint
 * @requires {Variable} $breakpoints
 * @link http://www.sitepoint.com/cross-media-query-extend-sass/
 */

@mixin placeholder($name) {
  @if not index($placeholders, $name) {
    $placeholders: append($placeholders, $name) !global;

    @at-root {
      @each $breakpoint, $value in $breakpoints {
        @include at-breakpoint($breakpoint) {
         %#{$name}-#{$breakpoint} {
            @content;
          }
        }
      }

     %#{$name} {
        @content;
      }
    }
  }

  @else {
    @warn "Placeholder `#{$name}` already exists.";
  }
}

/**
 * Extend a saved placedholder from within a `@media` directive.
 * @link http://www.sitepoint.com/cross-media-query-extend-sass/
 */

@mixin extend($name) {
  $extend-name: if($current-breakpoint, #{$name}-#{$current-breakpoint}, $name);
  @extend %#{$extend-name} !optional;
}
