$container-padding: rhythm(1) !default;
$container-max-width: 960px !default;

@include placeholder('Container') {
  margin: 0 auto;
  padding: 0 $container-padding;
  max-width: $container-max-width;
}
