/**
 * Completely remove from the flow but leave available to screen readers.
 */

@include placeholder('u-hiddenVisually') {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

