/**
 * Sizing utilities
 * https://github.com/suitcss/utils-size
 */

/* Intrisic widths
   ========================================================================== */

/**
 * Make an element shrink wrap its content.
 */

@include placeholder('u-sizeFit') {
  display: block !important;
  float: left !important;
  width: auto !important;
}

@include placeholder('u-sizeFitAlt') {
  @include extend(u-sizeFit);
  float: right !important;
}

/**
 * Make an element fill the remaining space.
 * N.B. This will hide overflow.
 */

@include placeholder('u-sizeFill') {
  display: block !important;
  overflow: hidden !important;
  width: auto !important;
}

/**
 * An alternative method to make an element fill the remaining space.
 * N.B. Do not use if child elements might be wider than the remaining space.
 * In Chrome, Safari, and Firefox it results in undesired layout.
 */

@include placeholder('u-sizeFillAlt') {
  display: table-cell !important;
  max-width: 100% !important;
  width: 10000px !important;
}

/**
 * Make an element the width of its parent.
 */

@include placeholder('u-sizeFull') {
  box-sizing: border-box !important;
  display: block !important;
  width: 100% !important;
}
